<mat-grid-list cols="3" rows="2">
    <mat-grid-tile colspan="3" rowspan="1">
      <mat-card class="example-card">
        <mat-card-subtitle>ByCoders</mat-card-subtitle>
        <mat-card-title>Desafio Desenvolvedor</mat-card-title>
        <mat-card-content>
          <p>Esta aplicação frontEnd visa apresentar uma forma de realizar upload de um arquivo para ser lido no BackEnd, onde será gravado em um banco de dados</p>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-footer>
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </mat-card-footer>
      </mat-card>
  
    </mat-grid-tile>
  </mat-grid-list>