body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
}

#main-app {
  margin: 10px;
  text-align: center;
}

#main-app h1 {
  font-weight: bold;
}

#dragger-wrapper {
  margin: 50px;
  text-align: center;
}

#table-wrapper {
  text-align: center;
}

#errors-wrapper {
  margin: 10px 0;
}

.ant-input-number {
  width: 100% !important;
}

.filter-icon {
  font-size: 2em !important;
  margin-bottom: 20px;
}

.summary {
  margin-bottom: 10px;
}

.output-operation {
  color: red;
}

.input-operation {
  color: blue;
}
