################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/web-api/.vs
/web-api/src/CNAB.Core/obj
