################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/web-api/.vs
/web-api/src/CNAB.Core/obj
/web-api/src/CNAB.Financeiro.Domain/obj
/web-api/src/CNAB.Financeiro.Domain/bin/Debug/net7.0
/web-api/src/CNAB.Core/bin/Debug/net7.0
