# compiled output
backend/dist
backend/node_modules

# Logs
backend/logs
backend/*.log
backend/npm-debug.log*
backend/pnpm-debug.log*
backend/yarn-debug.log*
backend/yarn-error.log*
backend/lerna-debug.log*
# OS
backend/.DS_Store

# Tests
backend/coverage
backend/.nyc_output

# IDEs and editors
backend/.envrc
backend/.idea
backend/.project
backend/.classpath
backend/.c9/
backend/*.launch
backend/.settings/
backend/*.sublime-workspace

# IDE - VSCode
backend/.vscode/*
backend/!.vscode/settings.json
backend/!.vscode/tasks.json
backend/!.vscode/launch.json
backend/!.vscode/extensions.json

# Development Database with Nix
backend/db/
backend/postgres/


# Env Files
backend/.env
