.file-input {
    display: none;
}

.distance-button{
    margin-left: 2%;
}

.distance-button-send{
    margin-left: 8%;
    margin-top: 5%;
}

.example-card {
    max-width: 400px;
    margin-bottom: 8px;
    margin-top: 5%;
}
  