<mat-grid-list cols="12" >
    <mat-grid-tile colspan="12" rowspan="3">
        <mat-card class="example-card" *ngFor="let cnab of cnabs;">
            <mat-card-title>Consulta dados CNAB</mat-card-title>
            <mat-card-subtitle>Consulta por Nome de Loja</mat-card-subtitle>
            <mat-card-content>
                <strong>Tipo da Transação:</strong> {{cnab.tipo.descricao}}
                <strong>Data e Hora da Transação: </strong>{{cnab.dataHoraTransacao}}
                <strong>Valor: </strong>{{cnab.valor}}
                <strong>Número do Cartão: </strong>{{cnab.numeroCartao}}
                <strong>Representante da Loja: </strong>{{cnab.representanteLoja}}
                <strong>Nome da Loja: </strong>{{cnab.nomeLoja}}

            </mat-card-content>
            <mat-card-actions align="end">
                <!-- <button type="submit" mat-flat-buttoncolor="accent" class="upload-btn distance-button-send"
                    (click)="enviarArquivo()">
                    <mat-icon>send</mat-icon>
                    Enviar
                </button> -->
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>