<div class="container mt-5">
  <div class="col-sm-12 col-lg-4 mr-auto ml-auto border p-4">
    <form method="post" enctype="multipart/form-data">
      <div class="form-group">
        <label><strong>Upload Files</strong></label>
        <div class="custom-file">
          <input type="file" name="files[]" accept=".txt" multiple class="custom-file-input form-control"
            id="customFile" (change)="onChange($event)" />
          <label class="custom-file-label" for="customFile">Choose file</label>
          <label class="custom-file-label" for="customFile" id="customFileLabel">Selecionar Arquivo</label>
        </div>
      </div>
      <div class="form-group">
        <button type="button" name="upload" value="upload" id="upload" class="btn btn-block btn-dark"
          (click)="onUpload()" [disabled]="!files"><i class="fa fa-fw fa-upload"></i> Upload</button>
      </div>
    </form>
  </div>
</div>