{% extends 'base.html' %}
{% load static %}
{% block header %}
    <script  src="{% static '/core/js/core.js' %}"></script>
    <link rel="stylesheet" href="{% static '/core/css/core.css' %}">
{% endblock %}
{% block main %}

    <div class="container mt-5">
        <div class="card col-md-12" style="padding: 0;">
            <div class="card-header col-md-12 bg-color">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 >
                            Importador 
                        </h2>
                    </div>
                </div>
            </div>
            <div id="card-body" class="card-body">
                <div id="div-form-importador" class="hidden">
                    <form id="form-arquivo" action="" method="POST" enctype="multipart/form-data">
                        <div class="row">
                            <input id="file" name="file" type="file"  onchange="submit_form()" accept="text/plain">
                        </div>
                    </form>
                </div>
                <div id="div-btn">
                    <button id="btn-importador" type="button" class="btn btn-outline-info btn-menu">Importar Arquivo</button>
                    <button id="btn-visualizar" type="button" class="btn btn-outline-info btn-menu ">Visualizar</button>
                </div>

                <div id="div-tabela" class="row hidden">
                    <div class="col-md-12 mt-2 overflow">
                        <table class="table">
                            <thead>
                                <tr class="bg-color text-white font-weight-bold">
                                    <th> Tipo </th>
                                    <th> Data </th>
                                    <th> Valor </th>
                                    <th> CPF </th>
                                    <th> Cartão </th>
                                    <th> Hora </th>
                                    <th> Dono da Loja </th>
                                    <th> Nome da Loja </th>
                                </tr>
                            </thead>
                            <tbody id="listagem-lancamentos">
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

{% endblock %}
