{% extends "base.html" %}

{% load rest_framework %}

{% block title %}Cadastro de Usuário{% endblock %}

{% block content %}

<main class="py-5 well" style="width: 320px; margin-left: auto; margin-right: auto">
    <header>
        <h1>Cadastro de Usuário</h1>
    </header>
    <section>
        <form action="{% url 'register-user' %}" method="POST">
            {% csrf_token %}
            {% render_form register_user_form template_pack='rest_framework/vertical' %}

            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
        <p class="text-center">Já possui uma conta? <a href="/api/accounts/login/">Entrar</a></p>
    </section>
</main>

{% endblock %}
