@import "/src/app/styles/variables/login.theme";

.container {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -2;

    background: url(#{$background-url}) no-repeat;
    background-attachment: fixed; 
    background-size: cover;

    &:before {
        content: "";
        position: absolute;
        background: inherit;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-shadow: inset 0 0 500px 500px rgba(255, 255, 255, .2);
        filter: blur(3px);
        margin: -50px;
    }
}

router-outlet {
    display: none;
}