$home-base-color: #F7FAFC;
$home-base-color2: rgb(125, 134, 140);
$home-base-color3: rgb(2, 114, 177);
$home-base-color4: rgb(0, 0, 0);
$home-base-color5: rgb(239, 198, 1);

$background-url: "/assets/background.jpg";

$home-expanded-logo-url: "/assets/logo_menu_expanded.png";
$home-collapsed-logo-url: "/assets/logo_menu_collapsed.png";