@import "home.theme";

$login-base-color: $home-base-color;
$login-base-color2: $home-base-color2;
$login-base-color3: $home-base-color3;
$login-base-color4: $home-base-color4;
$login-base-color5: $home-base-color5;

$login-logo-url: "/assets/logo-2.png";