@import "home.theme";

$menu-expanded-default-width: 220px;
$menu-collapsed-default-width: 70px;
$item-default-height: 45px;


$menu-active-color: darken($home-base-color, 10%);



$menu-animation-speed: .1s;
$opacity-animation-speed: .5s;
$icon-animation-speed: .1s;

$menu-select-speed: .2s;
$menu-hover-speed: .2s;
$menu-open-close-speed: .3s;