[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"

[dev-packages]

[scripts]
app = "python manage.py runserver"
manage = "python manage.py"
gunicorn = "gunicorn cnab_project.wsgi"

[requires]
python_version = "3.9"
