@import url('https://fonts.googleapis.com/css?family=Lato:wgh@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.container {
  height: 100vh;
}

.content {
  display: flex;
  align-items: flex-start;
  justify-content: left;
  flex-direction: column;
  padding: 5px 30px;
}

.card {
  display: flex;
  background: #fafafa;
  flex-direction: column;
  border: 1px solid #b4b4b4;
  border-radius: 10px;
  width: 90%;
  padding: 20px;
  margin: 10px 0;
}

p {
  margin: 5px 0;
}

table {
  border: 1px solid rgb(180, 180, 180);
  background: #ffffff;
}

table td {
  padding: 3px;
  background: #ffffff;
  border-right: 1px solid rgb(180, 180, 180);
  border-bottom: 1px solid rgb(180, 180, 180);
}