@import url('https://fonts.googleapis.com/css?family=Lato:wgh@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.container {
  height: 100vh;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
