#finances-header {
  margin: 3vh 8vw 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  #filter-container {
    label {
      display: block;
    }
  }
  #store_filter {
    padding: 5px 10px;
    background-color: white;
  }

  #clean-filter {
    float: right;
  }
}

.negative-value {
  color: red;
  font-weight: solid;
}

.positive-value {
  color: blue;
  font-weight: solid;
}